<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

# What to expect in this chapter

# 1 There is more to if

In [1]:
name = 'Batman'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

Hello Batman!

we can also next if statements.

# 2 Asking questions

In [2]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit']
vegetables = ['celery', 'potato', 'broccoli', 'kale']

'apple' in fruits

True

In [3]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit']
vegetables = ['celery', 'potato', 'broccoli', 'kale']

'peach' in fruits

False

In [4]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit']
vegetables = ['celery', 'potato', 'broccoli', 'kale']

'peach' not in fruits

True

In [5]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit']
vegetables = ['celery', 'potato', 'broccoli', 'kale']

('apple' in fruits) and ('celery' in vegetables) # both of them

True

In [6]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit']
vegetables = ['celery', 'potato', 'broccoli', 'kale']

('apple' in fruits) or ('celery' in vegetables) # at least one of them

True

In [7]:
'app' in 'apple'

True

# 3 Remember

not, in, and, or are some Python keywords that are useful in asking questions.

In [9]:
'apples' > 'oranges' # compare alphabetical order and string length?

False

In [10]:
3 > 10.5

False

In [11]:
3 > 'apple' #cannot compare str and int

TypeError: '>' not supported between instances of 'int' and 'str'

## 3.1 Asking Math questions

In [13]:
x = 10
x > 5 and x < 15

True

# 4 Python stores information in different formats or types

In [17]:
x = int(1.234)
print(x, type(x))

x = str(1.234)
print(x, type(x))

x = float(1.234)
print(x, type(x))

x = complex(1.234)
print(x, type(x))

x = '1.234'        # x is a string
print(x, type(x))

x = float(x)       # x is now a decimal number -> typecasting where we convert x from one form to another
print(x, type(x))

1 <class 'int'>
1.234 <class 'str'>
1.234 <class 'float'>
(1.234+0j) <class 'complex'>
1.234 <class 'str'>
1.234 <class 'float'>

# 5 Never compare floats directly

## 5.1 The Problem

In [18]:
a = 0.1
a3 = 0.3
a * 3 == a3

False

In [19]:
f'{0.3:.17f}'

'0.29999999999999999'

## 5.2 A solution

In [20]:
eps = 1E-10
abs(a * 3 - a3) < eps

True

In [22]:
import numpy as np
np.isclose(a * 3, a3)

True

# 6 Combining English and variables

## 6.1 Structure of f-strings

In [23]:
name = "Batman"
print(f"Hello {name}!")

Hello Batman!

In [24]:
name = "Batman"
print(f"Hello {name.upper()}!")

Hello BATMAN!

In [25]:
x = 10
print(f"The value of {x} squared is {x**2}!")

The value of 10 squared is 100!

In [29]:
text = 'Bruce Wayne is Batman.'
print(f'{text}')
print(f'{text:>30}')      # A block of 30 characters;
                          # aligned right
print(f'{text:^30}')      # A block of 30 characters;
                          # aligned centre
print(f'{text:<30}')      # A block of 30 characters;
                          # aligned left

Bruce Wayne is Batman.
        Bruce Wayne is Batman.
    Bruce Wayne is Batman.
Bruce Wayne is Batman.

In [30]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}')

The cube of pi to 6 decimal places is 31.006277

In [31]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6e}')

The cube of pi to 6 decimal places is 3.100628e+01

# 7 Escape sequences

In [32]:
print('Line 1\n\tLine 2\n\t\tLine 3')

Line 1
	Line 2
		Line 3

In [33]:
print('You\'re twenty years old.') # backslash is str literal

You're twenty years old.

In [34]:
print('A\tB\tC')

A	B	C

# 8 Computers read = from Right to Left!

In [35]:
y = 40
y = y + 2
print(y)

42

In [36]:
x = y = 10

# 9 Shorter and Cleaner Code

In [37]:
y = 40
y += 2    # Same as y = y + 2
y

42

# 10 Python can be a prima-donna.

In [38]:
Print("hello world")

NameError: name 'Print' is not defined

# 11 Best Practices for Scientific Computing

1. Write programs for people, not computers.
2. Optimise software only after it works correctly.
3. Document design and purpose, not mechanics.
4. Collaborate.

# 12 Looking for help

In [39]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

## References

## Footnotes